header nav ul{
    background-color: rgb(214, 221, 193);
    border: 3px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    list-style-type: none;
    display: block;
}
header nav ul:hover{
    background-color: bisque;
}
body{
    background-color: rgb(244, 156, 49);
}
#hero{
    background: url('../images/Tech.2.webp') no-repeat center center/cover;
}


#index{
    text-decoration: underline;
    font-weight: bold;
    color: chartreuse;
    background-color: rgb(126, 153, 27);
    text-align: center;
    margin: 10px;
    border-radius: 10px;
}
#h2{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    text-decoration: solid;
}
footer{
    text-align: center;
    background-color: rgb(230, 213, 126);
}
#Form{
    text-align: center;
    border: 1px;
    padding: 20px 20px 20px 20px;
    box-shadow: 5px 5px 5px 5px;
    margin: 2px 2px 2px 2px;
    border: 3px solid brown;
    background-color: bisque;
    border-radius: 5px;

}
h2{
    text-decoration: underline;
    font-size: bolder;
    text-align: center;
    text-transform: uppercase;
 }   
#Contact{
    background-color: rgb(230, 213, 126);
}
dt{
    font-size: larger;
    color: rgb(62, 54, 210);
   
}
h3{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}
dd{
    list-style-type: square;
}
dl{
    border: 3px 3px 3px 3px;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 5px 5px 5px 5px;
    background-color: chocolate;
    padding: 10px 10px 10px 10px;
    display: block;
}
@media(max-width:768px){
    body{
        background-color: rgba(156, 114, 72, 0.45);
    }
    #media{
        flex-direction: row;
    }
}

iframe{
    text-align: center;
}
#COMP{
    background-color:  rgb(173, 213, 52);
    text-transform: uppercase;
    color: crimson;
    text-align: center;
}

#CON{
    background-color: rgb(173, 213, 52);
    text-transform: uppercase;
    color: crimson;
    text-align: center;
}
#BOL{
    text-align: center;
    text-decoration: solid;
    text-transform: uppercase;
    border: 5px 5px 5px 5px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 3px 3px 3px 3px;
    padding: 10% 10% 10% 10%;
    color: ghostwhite;
}
#Design{
    text-align: center;
    list-style-type: none;
    
}
#Design2{
    /* border: 3px solid mediumorchid; */
    padding: 10px;
    margin: 10px 0px;
    box-shadow: 5px 5px 5px 2px rgb(219, 205, 57);
    border-radius: 5px;
    display: block;
}

